.whole 
{ 
    /* background-image: url('https://media.istockphoto.com/id/1198380802/vector/food-background-vegetables-seamless-pattern-healthy-eating-tomato-garlic-carrot-pepper.jpg?s=612x612&w=0&k=20&c=jHB3uTWZrakPyAgqSQfOApxSq_jIwHRx00LiOV2YHEk='); */ 
    background-color: white; 
} 
#carousel 
{ 
    margin-bottom: 30px; 
} 
.Child12 
{ 
    display: grid; 
    grid-template-columns: repeat(3,35%); 
} 
.parent2 
{ 
    display: flex; 
    flex-direction: column; 
}